.modal_button {
  background-color: white;
  border: none;
  color: #2a2e32;
  width: 50%;
  border-right: 1px solid #2a2e32;
  height: 40px;
}

.modal_button.right {
  border-right: none;
}

.modal_button.full {
  width: 100%;
  border: none;
}

.modal_button.bold {
  font-weight: 700;
}

.modal_button.dangerous {
  border-color: red;
  color: red;
}
