.parent {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

.top-bar {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #2a2e32;
}

.vinyl-grid-wrapper {
  flex: 1;
  overflow: auto;
}
